{:deps     {:aliases [:cljs]}
 :builds   {:app {:target     :browser
                  :output-dir "resources/public/js"
                  :modules    {:app {:init-fn app.core/init}}
                  :devtools   {:preloads [devtools.preload]}
                  :release    {:compiler-options {:optimizations :simple}}}}
 :nrepl    {:port 3333}
 :dev-http {3003 "resources/public"}}